body {
    margin:0
}

.list-bg {
    background: rgb(249, 250, 255);
    padding: 10px;
  }
  .list-item {
    background: white;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
  }
  .list-item h4 {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
  }
  .list-item p {
    color: grey;
    margin : 5px 0px;
  } 
/* 음성으로 기록*/
.MicText {
  color: var(--white-80, rgba(240, 236, 241, 0.80));
  text-align: center;
  font-feature-settings: 'calt' off;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 22.4px */
} 
::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

-ms-overflow-style: none;  /* For Internet Explorer and Edge */
scrollbar-width: none;  /* For Firefox */